<!-- Страница с расписанием -->
<!-- Подключение шаблона-фундамента для страницы -->
{% extends 'start/base.html' %}
{% block title %}
Список вакансий
{% endblock %}
<!-- Оформление информационного блока -->
{% block content %}
<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-12">
      <h2>Список выложенных вакансий</h2>
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalAddVacancy">Добавить вакансию</button>
      <br>
      <br>
      <table id="project" class="table table-hover table-bordered table-info table-striped">
         <thead>
            <tr>
               <th scope="col">Название компании</th>
               <th scope="col">Отрасль компании</th>
               <th scope="col">Лого компании</th>
               <th scope="col">ФИО работодателя</th>
               <th scope="col">Номер работодателя</th>
               <th scope="col">Должность</th>
               <th scope="col">Предлагаемая З/П</th>   
            </tr>
         </thead>
         <tbody>
            {% for vacancy in all_vacancy %}
            <tr>
               <td>{{ vacancy.Company.name_company }}</td>
               <td>{{ vacancy.Industry.name_industry }}</td>
               <td><img src="{{ vacancy.Company.logo }}" width="300" height="300"></td>
               <td>{{ vacancy.SystemUser.fio }}</td>
               <td>{{ vacancy.SystemUser.phone_number }}</td>
               <td>{{ vacancy.JobPosition.name_job_position }}</td>
               <td>{{ vacancy.JobVacancy.wage }}</td>
               <td>
               <form method="POST" class="form-addding"> 
                  {{ del_form_vacancy.id_vacancy(value=vacancy.JobVacancy.id_vacancy) }}
                  {{ del_form_vacancy.submit_del(class="btn btn-lg btn-block btn-danger") }}
               </form>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
<div id="ModalAddVacancy" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title text-secondary">Добавление новой вакансии</h4>
         </div>
         <div class="modal-body">
            <form method="POST" class="form-addding" style="color:black">
               {{ add_form_vacancy.hidden_tag() }}

               {{ add_form_vacancy.name_job_position.label() }}
               {{ add_form_vacancy.name_job_position(class="form-control") }}
               
               {{ add_form_vacancy.salary.label() }}
               {{ add_form_vacancy.salary(class="form-control") }}

               <br>
               {{ add_form_vacancy.submit_add(class="btn btn-lg btn-block btn-info") }}
            </form>
         </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
   </div>
</div>
{% endblock %}

<!-- Скрипт для динамической таблицы: фильтрация, сортировка-->
{% block scripts %}
<script>
   $(document).ready(function () {
      $("#project").DataTable(
         {
            columns: [
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: false, searchable: false },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true } 
            ],
            language: {
               "processing": "Подождите...",
               "search": "Поиск:",
               "lengthMenu": "Показать _MENU_ записей",
               "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
               "infoEmpty": "Записи с 0 до 0 из 0 записей",
               "infoFiltered": "(отфильтровано из _MAX_ записей)",
               "infoPostFix": "",
               "loadingRecords": "Загрузка записей...",
               "zeroRecords": "Записи отсутствуют.",
               "emptyTable": "В таблице отсутствуют данные",
               "paginate": {
                  "first": "Первая",
                  "previous": "Предыдущая",
                  "next": "Следующая",
                  "last": "Последняя"
               },
               "aria": {
                  "sortAscending": ": активировать для сортировки столбца по возрастанию",
                  "sortDescending": ": активировать для сортировки столбца по убыванию"
               }
            }
         });
   });
</script>
{% endblock %}