<!-- Страница с расписанием -->
<!-- Подключение шаблона-фундамента для страницы -->
{% extends 'start/base.html' %}
{% block title %}
Список компаний
{% endblock %}
<!-- Оформление информационного блока -->
{% block content %}
<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-8">
      <h2>Компании в поиске</h2>
      {% if session['role'] == 2%}
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalAddCompany">Добавить компанию</button>
      <br>
      <br>
      {% endif %}
      <table id="project" class="table table-hover table-bordered table-info table-striped">
         <thead>
            <tr>
               <th scope="col">Название компании</th>
               <th scope="col">Рабочая отрасль</th>
               <th scope="col">Лого компании</th>
            </tr>
         </thead>
         <tbody>
            {% for company in all_companies %}
            <tr>
               <td>{{ company.Company.name_company }}</td>
               <td>{{ company.Industry.name_industry }}</td>
               <td><img src="{{ company.Company.logo }}" width="300" height="300"></td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
<div id="ModalAddCompany" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title text-secondary">Добавление нового проекта</h4>
         </div>
         <div class="modal-body">
            <form method="POST" class="form-addding" style="color:black">
               {{ form_add_company.hidden_tag() }}

               {{ form_add_company.company_name.label() }}
               {{ form_add_company.company_name(class="form-control") }}
               
               {{ form_add_company.name_industry.label() }}
               {{ form_add_company.name_industry(class="form-control") }}

               {{ form_add_company.logo.label() }}
               {{ form_add_company.logo(class="form-control") }}

               <br>
               {{ form_add_company.submit_add(class="btn btn-lg btn-block btn-info") }}
            </form>
         </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
   </div>
</div>
{% endblock %}

<!-- Скрипт для динамической таблицы: фильтрация, сортировка-->
{% block scripts %}
<script>
   $(document).ready(function () {
      $("#project").DataTable(
         {
            columns: [
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: false, searchable: false }, 
            ],
            language: {
               "processing": "Подождите...",
               "search": "Поиск:",
               "lengthMenu": "Показать _MENU_ записей",
               "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
               "infoEmpty": "Записи с 0 до 0 из 0 записей",
               "infoFiltered": "(отфильтровано из _MAX_ записей)",
               "infoPostFix": "",
               "loadingRecords": "Загрузка записей...",
               "zeroRecords": "Записи отсутствуют.",
               "emptyTable": "В таблице отсутствуют данные",
               "paginate": {
                  "first": "Первая",
                  "previous": "Предыдущая",
                  "next": "Следующая",
                  "last": "Последняя"
               },
               "aria": {
                  "sortAscending": ": активировать для сортировки столбца по возрастанию",
                  "sortDescending": ": активировать для сортировки столбца по убыванию"
               }
            }
         });
   });
</script>
{% endblock %}