<!-- Страница с расписанием -->
<!-- Подключение шаблона-фундамента для страницы -->
{% extends 'start/base.html' %}
{% block title %}
Список резюме
{% endblock %}
<!-- Оформление информационного блока -->
{% block content %}
<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-12">
      <h2>Список выложенных вакансий</h2>
      <table id="project" class="table table-hover table-bordered table-info table-striped">
         <thead>
            <tr>
               <th scope="col">ФИО соискателя</th>
               <th scope="col">Номер телефона</th>
               <th scope="col">Дата рождения</th>
               <th scope="col">Должность</th>
               <th scope="col">Образование</th>
               <th scope="col">Фото</th>   
            </tr>
         </thead>
         <tbody>
            {% for resume in all_resume %}
            <tr>
               <td>{{ resume.SystemUser.fio }}</td>
               <td>{{ resume.SystemUser.phone_number }}</td>
               <td>{{ resume.SystemUser.birthday }}</td>
               <td>{{ resume.RoleUser.name_role_user }}</td>
               <td>{{ resume.Resume.work_experience }}</td>
               <td>{{ resume.Resume.education }}</td>
               <td><img src="{{ resume.SystemUser.photo }}" width="300" height="300"></td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
{% endblock %}

<!-- Скрипт для динамической таблицы: фильтрация, сортировка-->
{% block scripts %}
<script>
   $(document).ready(function () {
      $("#project").DataTable(
         {
            columns: [
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: false, searchable: false }
            ],
            language: {
               "processing": "Подождите...",
               "search": "Поиск:",
               "lengthMenu": "Показать _MENU_ записей",
               "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
               "infoEmpty": "Записи с 0 до 0 из 0 записей",
               "infoFiltered": "(отфильтровано из _MAX_ записей)",
               "infoPostFix": "",
               "loadingRecords": "Загрузка записей...",
               "zeroRecords": "Записи отсутствуют.",
               "emptyTable": "В таблице отсутствуют данные",
               "paginate": {
                  "first": "Первая",
                  "previous": "Предыдущая",
                  "next": "Следующая",
                  "last": "Последняя"
               },
               "aria": {
                  "sortAscending": ": активировать для сортировки столбца по возрастанию",
                  "sortDescending": ": активировать для сортировки столбца по убыванию"
               }
            }
         });
   });
</script>
{% endblock %}