<!-- Страница с расписанием -->
<!-- Подключение шаблона-фундамента для страницы -->
{% extends 'start/base.html' %}
{% block title %}
Мои резюме
{% endblock %}
<!-- Оформление информационного блока -->
{% block content %}
<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-10">
      <h2>Список моих резюме</h2>
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalAddCompany">Добавить резюме</button>
      <br>
      <br>
      <p class="lead font-weight-normal">ФИО соискателя: {{ activated_user.SystemUser.fio }}</p>
      <p class="lead font-weight-normal">Номер телефона: {{ activated_user.SystemUser.phone_number }}</p>
      <p class="lead font-weight-normal">Дата рождения: {{ activated_user.SystemUser.birthday }}</p>
      <p class="lead font-weight-normal">Фото: <br>
        <img src="{{activated_user.SystemUser.photo}}" width="300" height="300"></p>
      
      <table id="project" class="table table-hover table-bordered table-info table-striped">
         <thead>
            <tr>
               <th scope="col">Должность</th>
               <th scope="col">Образование</th>  
               <th scope="col">Стаж работы</th>  
            </tr>
         </thead>
         <tbody>
            {% for my_resume in all_my_resume %}
            <tr>
                <td>{{ my_resume.JobPosition.name_job_position }}</td>
               <td>{{ my_resume.Resume.work_experience }}</td>
               <td>{{ my_resume.Resume.education }}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
{% endblock %}

<!-- Скрипт для динамической таблицы: фильтрация, сортировка-->
{% block scripts %}
<script>
   $(document).ready(function () {
      $("#project").DataTable(
         {
            columns: [
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true }
            ],
            language: {
               "processing": "Подождите...",
               "search": "Поиск:",
               "lengthMenu": "Показать _MENU_ записей",
               "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
               "infoEmpty": "Записи с 0 до 0 из 0 записей",
               "infoFiltered": "(отфильтровано из _MAX_ записей)",
               "infoPostFix": "",
               "loadingRecords": "Загрузка записей...",
               "zeroRecords": "Записи отсутствуют.",
               "emptyTable": "В таблице отсутствуют данные",
               "paginate": {
                  "first": "Первая",
                  "previous": "Предыдущая",
                  "next": "Следующая",
                  "last": "Последняя"
               },
               "aria": {
                  "sortAscending": ": активировать для сортировки столбца по возрастанию",
                  "sortDescending": ": активировать для сортировки столбца по убыванию"
               }
            }
         });
   });
</script>
{% endblock %}