<!-- Страница с расписанием -->
<!-- Подключение шаблона-фундамента для страницы -->
{% extends 'start/base.html' %}
{% block title %}
Мои резюме
{% endblock %}
<!-- Оформление информационного блока -->
{% block content %}
<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-10">
      <h2>Список моих резюме</h2>
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalAddResume">Добавить резюме</button>
      <br>
      <br>
      <p class="lead font-weight-normal">ФИО соискателя: {{ activated_user.SystemUser.fio }}</p>
      <p class="lead font-weight-normal">Номер телефона: {{ activated_user.SystemUser.phone_number }}</p>
      <p class="lead font-weight-normal">Дата рождения: {{ activated_user.SystemUser.birthday }}</p>
      <p class="lead font-weight-normal">Фото: <br>
        <img src="{{activated_user.SystemUser.photo}}" width="300" height="300"></p>
      
      <table id="project" class="table table-hover table-bordered table-info table-striped">
         <thead>
            <tr>
               <th scope="col">Должность</th>
               <th scope="col">Образование</th>  
               <th scope="col">Стаж работы</th>  
            </tr>
         </thead>
         <tbody>
            {% for my_resume in all_my_resume %}
            <tr>
                <td>{{ my_resume.JobPosition.name_job_position }}</td>
               <td>{{ my_resume.Resume.education }}</td>
               <td>{{ my_resume.Resume.work_experience }}</td>
               <td>
                  <form method="POST" class="form-addding">
                     {{ del_resume_form.id_resume(value=my_resume.Resume.id_resume) }}
                     {{ del_resume_form.submit_del(class="btn btn-lg btn-block btn-danger") }}
                  </form>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
<div id="ModalAddResume" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title text-secondary">Добавление нового проекта</h4>
          </div>
          <div class="modal-body">
             <form method="POST" class="form-addding" style="color:black">
                {{ add_resume_form.hidden_tag() }}
 
                {{ add_resume_form.name_job_position.label() }}
                {{ add_resume_form.name_job_position(class="form-control") }}
                
                {{ add_resume_form.education.label() }}
                {{ add_resume_form.education(class="form-control") }}
 
                {{ add_resume_form.work_experience.label() }}
                {{ add_resume_form.work_experience(class="form-control") }}
 
                <br>
                {{ add_resume_form.submit_add(class="btn btn-lg btn-block btn-info") }}
             </form>
          </div>
       </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
       </div>
    </div>
 </div>
{% endblock %}

<!-- Скрипт для динамической таблицы: фильтрация, сортировка-->
{% block scripts %}
<script>
   $(document).ready(function () {
      $("#project").DataTable(
         {
            columns: [
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true }
            ],
            language: {
               "processing": "Подождите...",
               "search": "Поиск:",
               "lengthMenu": "Показать _MENU_ записей",
               "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
               "infoEmpty": "Записи с 0 до 0 из 0 записей",
               "infoFiltered": "(отфильтровано из _MAX_ записей)",
               "infoPostFix": "",
               "loadingRecords": "Загрузка записей...",
               "zeroRecords": "Записи отсутствуют.",
               "emptyTable": "В таблице отсутствуют данные",
               "paginate": {
                  "first": "Первая",
                  "previous": "Предыдущая",
                  "next": "Следующая",
                  "last": "Последняя"
               },
               "aria": {
                  "sortAscending": ": активировать для сортировки столбца по возрастанию",
                  "sortDescending": ": активировать для сортировки столбца по убыванию"
               }
            }
         });
   });
</script>
{% endblock %}