<!-- Стартовая страница сайта -->
<!-- Подключение шаблона-фундамента для страницы -->
{% extends 'start/base.html' %}
{% block title %}
Стартовая страница
{% endblock %}
<!-- Блок для экстетического оформления стартовой страницы, информации о текущей должности,
перехода на страницу регистрации и входа -->
{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left bg-dark" style="color:white">
    <h1 class="display-4 font-weight-normal" align="center">Меню биржи труда</h1>
    <div class="row-10" style="margin-top:20px; margin-left:20px" align="center">
        <div class="col-10">
           <br>
           <!-- Формирование таблицы пользователей -->
           <table id="data" class="table table-hover table-striped">
              <thead align="center">
                 <tr class="text-light">
                    <th scope="col">Актив биржи</th>
                    <th scope="col">Справочная информация</th>
                 </tr>
              </thead>
              <tbody align="center">
                 <tr>
                    <td>
                        <a class="btn btn-lg btn-info" href="#">Вакансии</a>
                        <a class="btn btn-lg btn-info" href="#">Резюме</a>
                    </td>
                    <td>
                        <a class="btn btn-lg btn-info" href="#">Компании</a>
                        <a class="btn btn-lg btn-info" href="#">Должности</a>
                        <a class="btn btn-lg btn-info" href="#">Отрасли</a>
                    </td>
                 </tr>
              </tbody>
           </table>
        </div>
    </div>
</div>
{% endblock %}