<!-- Подключение шаблона-фундамента для страницы -->
{% extends 'start/base.html' %}
{% block title %}
Профиль пользователя
{% endblock %}
<!-- Отображение информации об авторизованном пользователе -->
{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left bg-dark" style="color:white">
    <div align="center">
        <h1 class="display-4 font-weight-normal" align="center">Профиль пользователя {{ activated_user.SystemUser.login }}</h1>
        <br>
        <p class="lead font-weight-normal">ФИО работника: {{ activated_user.SystemUser.fio }}</p>
        <p class="lead font-weight-normal">Роль на сайте: {{ activated_user.RoleUser.name_role_user }}</p>
        <p class="lead font-weight-normal">Дата рождения: {{ activated_user.SystemUser.birthday }}</p>
        <p class="lead font-weight-normal">Номер телефона: {{ activated_user.SystemUser.phone_number }}</p>
        <img src="{{activated_user.SystemUser.photo}}" width="300" height="300">
        <br>
        <br>
        {% if session['role'] == 2: %}
        {% if activated_user.CompanyHirer: %}
        <p class="lead font-weight-normal">Компания: {{ activated_user.Company.name_company }}</p>
        {% else: %}
        <p class="lead font-weight-normal">Добавьте компанию в разделе компаний или выберите существующую из представленного списка</p>
        <div style="width: 1000px">
        <form method="POST" class="form-addding">
            {{ company_binding_form.hidden_tag() }}
            {{ company_binding_form.company_name.label() }}
            {{ company_binding_form.company_name(class="form-control") }}
            <br>
            {{ company_binding_form.submit_binding(class="btn btn-lg btn-block btn-info") }}
        </form>
        </div>
        {% endif %}
        {% endif %}
        <br>
        <br>
        <a class="btn btn-lg btn-info" href="{{ url_for('profile.profile_update_view') }}">Изменить профиль</a>
    </div>
</div>
{% endblock %}